@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

h1 {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 3.75vh;
  margin-bottom: 0;
}

h3 {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  color: #0003C7;
  font-size: 3.25vh;
  margin-top: 2%;
  margin-bottom: 2%;
}

h4 {
  font-family: 'Heebo', sans-serif;
  font-size: 2.75vh;
  margin-top: 1.5%;
  margin-bottom: 1%;
}

ul, ol {
  font-family: 'Heebo', sans-serif;
}

a, p, footer {
  font-family: 'Heebo', sans-serif;
}

a {
  color: #0003C7;
}

a:visited {
  color: #0003C7;
}

a:hover {
  color: #002253;
}

.back:hover {
  color: #002253;
}

.card {
  padding: 2.5%;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image {
  width: 35%;
  margin: auto;
  border-radius: 50%;
}

.about {
  max-width: 90ch;
  margin: auto;
  margin-top: 5%;
}

.softserve {
  margin-top: 2.5%;
}

.text {
  margin-top: 1%;
}

.spotify-meta {
  margin-left: 5%;
  width: 100%;
  vertical-align: middle;
}

.spotify-meta > p {
  margin-bottom: 2.5%;
  color: #000;
  margin-right: 0;
  width: 100%;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spotify-album {
  max-width: 17.5vh;
  max-height: 17.5vh;
}

.not-found{
  display: "inline-block";
  margin: auto;
  text-align: center;
  width: 60%;
}

.recommendations {
  margin-top: 2.5%;
}

.recomendations > p {
  margin-top: 0;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

::-webkit-scrollbar { 
  display: none; 
}

@media only screen and (max-width: 1024px) {
  .not-found {
    width: 100%;
    margin: auto;
  }

  .image {
    width: 25vh;
    margin: auto;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .text {
    max-width: 100%;
    margin-bottom: 5%;
    margin-top: 1%;
  }
}

@media only screen and (max-width: 475px) {
  .image {
    margin-top: 5vh;
    height: fit-content;
    width: 60vw;
    margin-bottom: 0;
  }

  .about {
    margin-top: 10%;
  }
}

.slide-in-from-bottom {
  animation: slide-in-from-bottom 1.2s ease-in-out;
  -webkit-animation: slide-in-from-bottom 1.2s ease-in-out;
  -moz-animation: slide-in-from-bottom 1.2s ease-in-out;
}

@keyframes slide-in-from-bottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide-in-from-bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@-moz-keyframes slide-in-from-bottom {
  from {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(0%);
  }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1;}
  99% { opacity: 0.01;width: 100%; height: 100%;}
  100% { opacity: 0;width: 0; height: 0;}
}  
@keyframes fadeOut {
  0% { opacity: 1;}
  99% { opacity: 0.01;width: 100%; height: 100%;}
  100% { opacity: 0;width: 0; height: 0;}
}

.fade-out{
  display: block;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
